body {
	margin: 0px;
}
.lol{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
	
	font-family: Pristina;
	text-align: center;
	border-bottom:  2px solid lightblue;
	border-right: 2px solid lightblue;
	width: 500px;
	box-shadow: 5px 5px 6px #888888;
	margin-top: 10px;
}

img{
	margin-top: 200px;
	align-content: center;
	width: 350px;
	height: 200px;
	margin: 10px;
	transition: all 1s;

}
img:hover{
	transform: scale(1.1);
	animation: pulse 5s infinite;
	  animation-timing-function: ease-out; 

}
